<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imastudio.firebase2019jan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".authentikasi.RegisterActivity" />
        <activity android:name=".authentikasi.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admob.RewardVideoActivity"></activity>
        <activity android:name=".admob.InterstitialActivity"></activity>
        <activity android:name=".admob.BannerActivity"></activity>
        <activity android:name=".admob.AdmobActivity"></activity>
        <activity android:name=".authentikasi.LoginPhoneActivity" />
        <activity android:name=".authentikasi.LoginGoogleActivity" />
        <activity
            android:name=".database.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>